{% load staticfiles %}
    
    <div class="row">
    	<div class="col col-md-12">
    	  <h1 style="color:#ff3333;">Advanced Web Development with Django</h1>
          <p>Coming Soon!</p>
      </div> 
    </div>
    <hr>