{% extends 'project_base.html'%}
{% load staticfiles %}

{% block header%}
  <div class="container">
    <div class="row">
      <div class="col col-sm-6">
        <h1><a href="#" title="scroll down for your viewing pleasure">Understanding Apache2</a>
          <p class="lead">Configurations by example</p></h1>
      </div>
      <div class="col col-sm-6">
        <div class="well pull-right">
          <img src="{% static "images/projects/apache_logo.png" %}">        
        </div>
      </div>
    </div>
</header>
{% endblock header%}

{% block side_links %}
              	<div id="sidebar">
      			<ul class="nav nav-stacked">
                    <li><h3 class="highlight">Contents</h3></li>
				    </ul>
                <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                Apache2 setup
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="accordion-inner">
                              <p>What is needed to setup apache2.</p>
                              <ul>
                              <li><a href="{% url 'apache2_page' %}">How It Works</a></li>
                              <li><a href="{% url 'apache2_page' %}">Installing Apache2</a></li>
                              <li><a href="{% url 'apache2_page' %}">Understanding the Configuratons</a></li>
                              <li><a href="{% url 'apache2_page' %}">Localhost Test</a></li>
                              <li><a href="{% url 'apache2_page' %}">Making an Example Site</a></li>
                              <li><a href="{% url 'apache2_page' %}">Hosting a Website </a></li>
                              </ul>
                            </div>
                        </div>
                    </div>
                    <!--<div class="accordion-group">-->
                    <!--        <div class="accordion-heading">-->
                    <!--            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">-->
                    <!--                Accordion-->
                    <!--            </a>-->
                    <!--        </div>-->
                    <!--        <div id="collapseTwo" class="accordion-body collapse">-->
                    <!--            <div class="accordion-inner">-->
                    <!--              <p>Use @media queries or utility classes to customize responsiveness.</p>-->
                    <!--              <ul>-->
                    <!--              <li><a href="{% url 'apache2_page' %}">Snorby setup</a></li>-->
                    <!--              </ul>-->
                    <!--            </div>-->
                    <!--        </div>-->
                    <!--    </div>-->
               	</div>
               </div>
               {% endblock side_links %}