{% load staticfiles %}

    <div class="row">
    	<div class="col col-md-12">
    	    <h1 style="color:#ff3333;">Basic Web Development with Django</h1><br>
          <h4>Django is a backend or server-side language for webdevelopment applications written in Python. </h4>
          
          <br>
          <h5>The Very Basic Process Flow for N&#216&#216BS:</h5>
          
          <div class="col-lg-8">
            <p>When you type a URL to a website on a server being run with Django, 
            the server gets a GET request and goes to Django's urls.py file to match the URL with one of 
            the regular expressions in the <code>urls.py</code> file. </p>
            
            <p>
            Inside the <code>urls.py</code> file you will find these lines:
            <br><br><code>url(r'^test', 'my_project.views.test_page', name='test_page'),</code><br><br>
            </p>
          </div>
          
          <div class="col-lg-6">
            
            <p>
            The first part of this line is what will show in the url.
            Basically, in your webpage the URL will look something like <code>http://www.my-wesbite.com/test</code>.
            When Django matches the url you typed with the url match in the <code>urls.py</code> file, it pulls up a page or "view" called test_page.
            </p>
            <p>
             The second part says what function is used in the <code>views.py</code> to display your page. The "name" part is used 
             as a variable when creating links to that page.
            </p>
            <p>
            Then, Django goes the the <code>views.py</code> file and looks for <br><code>def test_page(): ...</code>
            and gets the HTML page that is returned in that function.
            </p>
          </div>
          
          <div class="col-lg-6">
            <image src="{% static "images/projects/django_basic_flow.png" %}">
          </div>
          
      </div> 
    </div>
    <hr>
    
<!--Prereq section-->
    	<div id="prereq" class="row">
      	<h2>Prerequisites</h2>
        <p> This tutorial is intended for N&#216&#216bs. A little experience with 
        common webdevelopment languages like HTML and CSS, familiarity 
        with unix shell and python will be helpful but is not necessary.
        In this tutorial, we will be using Cloud9 as our IDE. This is only a matter of preference and
        that the steps are the similar and in many cases the same, whether you develop with Cloud9 or on some other OS.
        </p>
        <div class="col-md-6">
          <h4>Software Requirements</h4>
          <ul>
            <li>Django Version 1.8</li>
            <li><a href="https://c9.io/">Cloud9</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <h4>Other Resources</h4>
          <ul>
            <li><a href="https://docs.djangoproject.com/en/1.8/"  target="_blank" style="target-new: tab;">Django Documentation</a></li>
          </ul>
        </div>
      </div>
      <hr>
      
<!--Installation section-->
    	<div id="install" class="row">
      	<h2>Install Django</h2>
        <div class="col-md-8">
            <p> Django comes pre-installed with C9. To start a Django project click create new workspace then select Django.</p>
          <div class="col-lg-8">
            <image src="{% static "images/projects/create.PNG" %}">
          </div>
        </div>
        
      </div>
      <hr>
      
<!--Creating a project-->
      <div id="create_proj" class="row">
      	<h2>Create a Project</h2>
      	<div class="col-md-12">
            <p>Once you have selected the Django framework and named your workspace,
            Cloud9 will automatically generate the main app folder called <code>my_project/</code>.
            Your project structure at this point should look like this:
            </p>
            
          <div class="">
            <image src="{% static "images/projects/project_structure0.png" %}">
          </div>
            
            <p>
            There are several important files which we will use throughout this and later tutorials.<br><br>
            
            <code>manage.py</code> is used to access the internals of Django from a shell environment. 
            It allows you to run a python shell, sync your database, run your server, 
            etc. Run <code>$ python manage.py</code> in terminal to see a list of what you can do. With Cloud9 we 
            will only need to click the <image src="{% static "images/projects/run_project.png" %}"> button to launch the server which will 
            call <code>$ python manage.py runserver $IP:$PORT</code> for you.<br><br>
            
            <code>settings.py</code> is used to set variables telling Django where you put certain things
            that it will need like templates, static files, database access information, etc.<br><br>
            
            <code>urls.py</code> is where Django will know what view to pull given a url typed into a browser.
            </p>
            
        </div>
      </div>
      <hr>
      
<!--Creating templates-->
      <div id="create_templates" class="row">
      	<h2>Create Template Files Directory</h2>
        <div class="col-md-12">
          <p>The <code>templates/</code> folder is where your html pages 
          will be kept. These are the pages that are rendered by your <code>views.py</code> when 
          you visit a page on the web.</p>
          
          <p>In your workspace folder and make a folder called <strong>templates</strong></p>
        </div>
      </div>
      <hr>
      
<!--Creating static-->
      <div id="create_static" class="row">
      	<h2>Create Static Files Directory</h2>
        <div class="col-md-12">
          <p>The <code>static/</code> folder is where your static files
          will be kept. These are things like images, css, javascript, fonts, etc
          that your HTML pages need to display.</p>
          
          <p>In your workspace folder make a <code>static/</code> folder and a <code>static/images/</code> folder. Then 
          upload an image called <strong>"my_image.jpg"</strong> and put it in the <code>static/images</code> folder.</p>
          <br>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Troubleshooting</h4>
          <ol>
            <li>
                Check your project structure...<br>
                <image src="{% static "images/projects/project_structure1.png" %}">
            </li>
          </ol>
        </div>
      </div>
      <hr>
      
<!--Modify Settings-->
      <div id="create_settings" class="row">
      	<h2>Modify Settings</h2>
        <div class="col-md-12">
          <p>The <code>settings.py</code> file is where you tell django what apps, database
          settings, etc to use. It is also where you will set your language, your timezone and point
          it to the <code>templates/</code> and <code>static/</code> directories you just created. 
          Navigate to your <code>settings.py</code> file, open it and make the changes below. </p><br>
          
          <pre><code class="language-python">
# Add <code>'my_project'</code> to the bottom of your installed apps list
INSTALLED_APPS = (
'django.contrib.admin',
'django.contrib.auth',
'django.contrib.contenttypes',
'django.contrib.sessions',
'django.contrib.messages',
'django.contrib.staticfiles',
# Add my_project to INSTALLED_APPS
'my_project'
)

# this tells you if a Django error occurs.
DEBUG=True

# this tells you where the error occured and more error details
TEMPLATE_DEBUG=True

# The absolute path to the directory where collectstatic will collect static files for deployment
# for us, this will be the assets/ folder will be created later by Django
STATIC_ROOT = os.path.join(BASE_DIR, "assets")

# this is the URL to use when referring to static files located in STATIC_ROOT
STATIC_URL = '/assets/'

# this points Django to your static/ folder
STATICFILES_DIRS =(os.path.join(BASE_DIR, "static"),)

# this points Django to your html templates/ folder
TEMPLATE_DIRS = (os.path.join(BASE_DIR, 'templates/'),)
          </code></pre>
          
          Save and close the file.
        </div>
      </div>
      <hr>
      
<!--Create Views-->
      <div id="create_views" class="row">
      	<h2>Create Views</h2>
        <div class="col-md-12">
          <p>The <code>views.py</code> file is where you will create definitions that 
          call your html pages from your <code>templates/</code> directory.
          Create a <code>views.py</code> file and modify it like below.</p>
        </div>  
          
          <div class="col-md-12">
            <pre><code class="language-python">
# Filename: my_project/views.py
from  django.shortcuts import render_to_response

def home_page(request):
    return render_to_response('home.html')

def world_page(request):
    return render_to_response('world.html')
            </code></pre>
          </div>
          <div class="col-md-12">
          <p>In your <code>templates/</code> directory, add a <code>home.html</code> 
          file. The HTML file should look like this:<br><br>
          <pre><code class="language-html">
&#60;!-- Filename: home.html -->
&#60;!-- This tells django to load the files we have in our <code>static/</code> directory. -->
{&#37; load staticfiles &#37;} 
&#60;html> 
&#60;body>
&#60;!-- This tag is a way we can add dynamic links with django. -->
Hello &#60;a href="{&#37; url 'world_page' &#37;}">world!&#60;/a> this is my projects home page
&#60;/body>
&#60;/html>
          </code></pre>

          <p>Now create a second html page called <code>world.html</code> that looks like this:</p>
          <pre><code class="language-html">
&#60;!-- Filename: world.html -->
&#60;!-- This tells django to load the files we have in our <code>static/</code> directory. -->
{&#37; load staticfiles &#37;}
&#60;html>
&#60;body>
&#60;!-- This tag is how we tell django to access our static files and retreive the image without having to type the relative path. The same can be done with any files located in the static directory.-->
&#60;image src="{&#37; static "images/my_image.jpg" &#37;}">
&#60;/body>
&#60;/html></code></pre>
          
          <p>
          Save and close.
          </p>
          
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Troubleshooting</h4>
          <ol>
            <li>
                Check your project structure...<br>
                <image src="{% static "images/projects/project_structure2.png" %}">
            </li>
          </ol>
        </div>
      </div>
      <hr>                

<!--Modify urls-->
      <div id="create_urls" class="row">
      	<h2>Modify Your Urls</h2>
        <div class="col-md-12">
          <p>The <code>urls.py</code> file is where you will set the 
          path to the different pages you want to display and associate them with
          a specific view definition.</p>
          <p>Open your <code>urls.py</code> file in the main app folder of your 
          project and add the following:

<pre><code class="language-python">
# Filename: urls.py

# Add these imports under default import that are already there
from django.conf import settings
from django.conf.urls.static import static

# Add the home_page url and home_page url under the urlpatterns definition that
# already there
urlpatterns = patterns('',

    # this will match website urls like: http://www.my_project.com and then go to the home_page
    # function in the views.py file
    url(r'^$', 'my_project.views.home_page', name='home_page'), 
    
    # this will match website urls like: http://www.my_project.com/home and go to the home_page
    # function in the views.py file
    url(r'^home', 'my_project.views.home_page', name='home_page'),
    
    # this will match website urls like: http://www.my_project.com/world and go to the world_page 
    # function in the views.py file
    url(r'^world', 'my_project.views.world_page', name='world_page'),

)
# Note: name='home_page' is used as a variable when creating links to that page.
</code></pre>
        </div>
      </div>
      <hr>


<!--Running the Project on Localhost-->
      <div id="run_server" class="row">
      	<h2>Run Server on Localhost</h2>
        <div class="col-md-12">
          <p>Now that we are done setting up our settings, templates, views, urls and static files, 
          we need to run our project on localhost and see how it looks. To get started, 
          we should create our assets directory and its contents. To do so, in terminal you should 
          enter <code>$ python manage.py collectstatic</code>. You will need to run <code>collectstatic</code>
          everytime you add something to your <code>static/</code> folder so that it will update your 
          <code>assets/</code> folder which it will pull from in deployment mode later.</p>
          <small> Note: This will warn you that you are about to overwrite existing files. Go ahead 
          and type "yes".</small>
          <br><br><p> You should now see an assets directory containing an
          admin folder and everything that was in your static directory. Next we click on the 
          <image src="{% static "images/projects/run_project.png" %}"> button in C9. This will migrate
          your database and prompt you to create a superuser. Type yes and follow the prompts.
          </p>
          
          <p><small>
            If you prefer or need to use the terminal to do this migrate your database 
          and start your sever, type <code>$ python manage.py migrate</code> and then <code>$ python manage.py runserver $IP:$PORT</code>
          </small></p>
          
          <p>
            <br>You should see this page at <code>https://my-project-YourUserName.c9.io</code>:<br>
            <image src="{% static "images/projects/home_page0.png" %}"> 
            <br>When you click on the "world" link, you should see this page at <code>https://my-project-YourUserName.c9.io/world</code>:<br>
            <image src="{% static "images/projects/world_page0.png" %}">
          </p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Troubleshooting</h4>
          <ol>
            <li>
                Make sure you changed YourUserName in the URL to your actual C9 username<br>
            </li>
            <li>
                If you are using terminal, and your get the error "you are trying to modify a read only database", 
                don't use the try typing <code>$ python manage.py runserver $IP:$PORT</code> rather than using the Run Project button<br>
            </li>
            <li>
                Check your project structure...<br>
                <image src="{% static "images/projects/project_structure3.png" %}">
            </li>
          </ol>
        </div>
      </div>
      <hr>
      
<!--Bootstrap-->
      <div id="bootstrap" class="row">
      	<h2>Add a Bootstrap Template (optional)</h2>
        <div class="col-md-12">
          <p>Bootstrap is a bunch of css and js files that make styling your page super easy!
          Basically, you download themes or templates, put the css files to your 
          <code>static/css/</code> folder and the js file to your <code>static/js/</code>
          folder. These css and js files give your page style based on what tags, 
          classes and id's are in the HTML file. Therefore, when you want to 
          change some part of the style you can change the classes and id in the 
          html tags.
          </p>
          
          <p>There are a few things you need to do</p>
          <ol>
            <li>Find a free template that you like at Bootstrap Zero</li>
            <li>Place the <code>*.css</code> files in your <code>static/css/</code> folder</li>
            <li>Place the <code>*.js</code> files in your <code>static/js/</code> folder</li>
            <li>Place the <code>*.html</code> files in your <code>templates/</code> folder and 
            change the name of the HTML file you just uploaded to <code>home.html</code> 
            since you already have your urls and views set up to look for 
            <code>home.html</code>. You will need to remove or rename the
            <code>home.html</code> file we made previously. Now when we type
            <code>https://my-project-YourUserName.c9.io/home</code> into the browser it will go to our new bootstrap home page</li>
            <li>Go into the html file that you just changed to <code>home_page.html</code>
            and change the links of the .css and .js files to where they are actually 
            located in your specific project heirarchy.</li>
          </ol>
          
          
        <p><small>Note: This is not the only way to add bootstrap to your page, but
        I think it is the most fruitful because you don't have to spend a week
        writing and styling your page. You simply find a template close to what you 
        like and then modify the style to fit your needs.
        </small></p>
        
        <p><br>This is what your project structure should look like now (if will differ with different themes that you upload though) </p>
        <image src="{% static "images/projects/project_structure_bootstrap.png" %}">
        
        <p><br><br>Anywhere that there is a link in your .html file that is not linked
        to https://... you will need to update the path to your specific project structure.
        You can also modify the text in the html to say what you want to say.
        Here is an example of the top of an html file with links modified and the 
        resulting html with bootstrap page:<br><br>
          <image src="{% static "images/projects/html_with_bootstrap.png" %}"><br><br>
          <image src="{% static "images/projects/home_page_with_bootstrap.png" %}">
        </p>
        </div>
      </div>
          <div class="panel panel-default">
            <div class="panel-body">
              <h4>Troubleshooting</h4>
              <p><small>
                Note: As mentioned above, Bootstrap is a css file that allows you to just
                change the <code>id="someID"</code> and <code>class="someClass"</code>
                which will pull certain styles from the bootstrap css and js files that
                style your page. Therefore, when you downloaded a template, you downloaded
                someone's work that has used bootstrap to style their page. Now you 
                can modify this template to reflect the information you would like to 
                display.
              </small></p>
              <ol>
                <li>If your page doesn't look like it did when your were looking at it on 
                Bootstrap Zero (or any other free bootstrap template site) then  try running
                <code>$ python manage.py collectstatic</code> again and make sure that you
                have the path to your style files correct. You can tell 
                if this is the case by looking at the terminal where you have the project running,
                you should see errors as your page loads if it could not find your path. 
                Look at the error to see where Django is trying to find it and look at the correct 
                path in your project tree and correct it.</li>
                <li>Make sure you have <code>{&#37; load staticfiles &#37;}</code> in the head of your html page</li>
              </ol>
            </div>
        </div>
      <hr>