{% extends 'project_base.html'%}
{% load staticfiles %}

{% block header%}
<header class="masthead">
  <div class="container">
    <div class="row">
      <div class="col col-sm-6">
        <h1 style="color:#ff3333;">Django Tutorials</h1>
          <p class="lead">Archives </p>
      </div>
      <div class="col col-sm-6">
        <div class="well pull-right">
          <img src="{% static "images/projects/django-tux1.png" %}">        
        </div>
      </div>
    </div>
  </div>
{% endblock header%}

{% block side_links %}
              	<div id="sidebar">
      			<ul class="nav nav-stacked">
                    <li><h3 class="highlight">Contents</h3></li>
				    </ul>
                <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                Basic Django
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="accordion-inner">
                              <p>Basic personal website</p>
                              <ul>
                                <li><a href="#prereq">Prerequisites</a></li>
                                <li><a href="#install">Install Django</a></li>
                                <li><a href="#create_proj">Create a Project</a></li>
                                <li><a href="#create_templates">Create Template Files Directory</a></li>
                                <li><a href="#create_static">Create Static Files Directory</a></li>
                                <li><a href="#settings">Modify Settings</a></li>
                                <li><a href="#create_views">Create Views</a></li>
                                <li><a href="#create_urls">Create URLS</a></li>
                                <li><a href="#run_server">Running the Project on Localhost</a></li>
                                <li><a href="#bootstrap">Bootstrap (optional)</a></li>
                              </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                      <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                          Intermediate Django
                        </a>
                      </div>
                      <div id="collapseTwo" class="accordion-body collapse in">
                        <div class="accordion-inner">
                          <p>Apps and Models</p>
                          <ul>
                            <li><a href="#setup_proj">Set up your project</a></li>
                            <li><a href="#add_app">Add an App</a></li>
                            <li><a href="#add_mod">Add a Model</a></li>
                            <li><a href="#add_djan_2_temp">Django Templating</a></li>
                            <li><a href="#add_admin">Setup an Admin Interface</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-group">
                      <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                          Advanced Django
                        </a>
                      </div>
                      <div id="collapseThree" class="accordion-body collapse in">
                        <div class="accordion-inner">
                          <p>Forms and Model Managers</p>
                            <ul>
                              <li><a href="#">Set up your project</a></li>
                              <li><a href="#">Create a Model Manager</a></li>
                              <li><a href="#">Create a Form</a></li>
                            </ul>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-group">
                      <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                          Deploy Django
                        </a>
                      </div>
                      <div id="collapseFour" class="accordion-body collapse in">
                        <div class="accordion-inner">
                          <p>Deploy your Website with Apache</p>
                            <ul>
                              <li><a href="#">Deployment Checklist</a></li>
                              <li><a href="#">Deploy with Apache2</a></li>
                            </ul>
                        </div>
                      </div>
                    </div>
               	</div>
               </div>
{% endblock side_links %}

{% block contents %}
<div class="col col-sm-9">
  <div class="panel">

{% include "basic_django_tut.html" %}
 
{% include "intermediate_django_tut.html" %}

{% include "advanced_django_tut.html" %}

{% include "deploy_django_tut.html" %}

  </div>
</div>

{% endblock contents %}