{% extends 'project_base.html'%}
{% load staticfiles %}

{% block header%}
<header class="masthead">
  <div class="container">
    <div class="row">
      <div class="col col-sm-6">
        <h1><a href="#" title="scroll down for your viewing pleasure">HackRF One</a>
          <p class="lead">Listen and send packets</p></h1>
      </div>
      <div class="col col-sm-6">
        <div class="well pull-right">
          <img src="{% static "images/projects/hackrf1.png" %}">        
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
	<div class="row">
      <div class="col col-sm-12">
        
        <div class="panel">
        <div class="panel-body">
          You may want to put some news here  <span class="glyphicon glyphicon-heart-empty"></span>
        </div>
        </div>
        
      </div>
  	</div>
  </div>
</header>
{% endblock header%}

{% block side_links %}
              	<div id="sidebar">
      			<ul class="nav nav-stacked">
                    <li><h3 class="highlight">Channels <i class="glyphicon glyphicon-dashboard pull-right"></i></h3></li>
				    </ul>
                <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                Hackrf tutorial
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="accordion-inner">
                              <p>how to play with hackrf.</p>
                              <li><a href="{% url 'hackrf_page' %}">installing apache2</a></li>
                              <li><a href="{% url 'hackrf_page' %}">understanding the configuratons</a></li>
                              <li><a href="{% url 'hackrf_page' %}">making sure it works</a></li>
                              <li><a href="{% url 'hackrf_page' %}">making an example site</a></li>
                              <li><a href="{% url 'hackrf_page' %}">hosting a website </a></li>
                              <!--<li><a href="{% url 'apache2_page' %}">Snorby setup</a></li>-->
                              
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                    Listening on a frequency
                                </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                                <div class="accordion-inner">
                                  <p>Use @media queries or utility classes to customize responsiveness.</p>
                                </div>
                            </div>
                        </div>
               	</div>
               </div>
               {% endblock side_links %}