{% load staticfiles %}

<!--Prereq section-->
    	<div id="prereq2" class="row">
      	<h1 style="color:#ff3333;">Intermediate Web Development with Django</h1> 
        <p> This tutorial is intended for people who know the basic Django process flow already and have 
        experience with common web development languages like html, css and Javascript. 
        In this part of the tutorial, we will be showing you how to add a new app, a model and use
        a little bit more django within your templates to create dynamic pages. 
        We will also continue to use Cloud9 as our IDE but as before, you can 
        use anything you are comfortable with.
        </p>
      </div>
      <hr>
      
<!--Setup Project section-->
    	<div id="setup_proj" class="row">
      	<h2>Set up your Project</h2>
        <div class="col-md-12">
            <p> If you followed the Basic Django Tutorial (with or without the optional bootstrap part) 
            you can just continue with that project. Otherwise create another Django project. Run 
            your server and make sure it works before continuing.</p>
            
            <p>Your project structure should look roughly like this: </p>
            <image src="{% static "images/projects/project_structure3.png" %}">
        </div>
      </div>
      <hr>
      
<!--Add an app-->
      <div id="add_app" class="row">
      	<h2>Add an App</h2>
      	<div class="col-md-12">
            <p>To add an app to your project, in your terminal type: 
            <code>$ python manage.py startapp first_app</code>
            This will create a new directory for your app called <code>first_app/</code>. 
            Once the first_app is created, django should have generated a few files within the 
            <code>first_app/</code> directory that look like this: 
            </p>
            
          <div class="">
            <image src="{% static "images/projects/project_structure4.png" %}">
          </div>
          
          <p>
            <br><code>admin.py</code>, deals with things related to the admin page.
            This is the file we will setup later when we want to use an admin interface to modify our database.
            
            <br><br><code>models.py</code>, is how we define our database structure. We will go
            into more details about this later.
            <br><br><code>views.py</code>, has the same purpose as the <code>views.py</code> file you have in your main app.
            It tells Django what page serve.
            <br><br><code>migrations/</code>, is where Django stores the the changes that are made
            to your model over time and how they are changed in the database.
          </p>
        </div>
      </div>
      <hr>

<!--Add a model-->
      <div id="add_mod" class="row">
      	<h2>Add a Model</h2>
        <div class="col-md-12">
          <p>Open your <code>models.py</code> file and add your first model.
          Edit the file so that it looks like this then save and close:</p>
          
          <pre><code class='language-python'>
from django.db import models

# This creates a table in your database called "Project" that is accessible
# to you via a Project class
class Project(models.Model):
    # Creates a title attribute in your database that is a characterfield with max length 30 chars
    # Because null or blank is not specified as True, it defaults to false. therefore the database will
    # require a input value for the title attribute and the user will be required to input a title when
    # creating a project.
    title       = models.CharField(max_length=30)
    
    # Creates a description attribute in your database that is a textfield, and has no max length
    # null=True means that the database will store empty values as null in the database
    # blank=True means that the user doesn't have to put enter a description
    # when creating the object instance
    description = models.TextField(null=True, blank=True)
    
    # Stores the path to a file 
    # null=True means that the database will store empty values as null in the database
    # blank=True means that the user doesn't have to put a file field when creating the object instance
    image       = models.FileField(null=True, blank=True)
    
    # this part makes the object return its title so you can easily identify which one it is
    def __unicode__(self):
        return self.title
          </pre></code>
          
            <p>
            This creates a table called Project with attributes title, description, and image for our file field. In Django,
            you access these via the class model structure rather than interact with your database
            directly. You now need to migrate your database so that it creates the table to reflect your 
            new model. </p>
            
            <p>You will also need to add your new app to your <code>my_project/settings.py</code> file so Django knows
            you have another app</p>
            
            <pre><code class="language-python">
# Add <code>'first_app'</code> to the bottom of your installed apps list
INSTALLED_APPS = (
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    'my_project',
    # Add this line
    'first_app'
)
          </code></pre>
            
            <p>
            You will need to migrate your database now but first you need to update make sure 
            you have django version >=1.8. Check your version:
            <code>$ sudo python manage.py shell</code>
            
            <pre><code class="language-python">
In [1]: import django
In [2]: django.VERSION
# you should see a version >= 1.8
In [3]: exit
            </code></pre>
            
            <p>
                To update to the latest version, type <code>sudo pip install -U Django</code> 
                then check your version again when it is done.
            </p>
        
            Once you have Django vertsion 1.8 or greater, go ahead and migrate your database. 
            <br><br>Type <code>$ python manage.py makemigrations first_app --name initial</code> in terminal to create your schema migrations.
            You should see a schema migration added to your <code>migrations/</code> folder called <code>0001_initial.py</code>. 
            It may be a good idea to open that file up and check it out just so you can get a feel for what it is doing.
            
            <br><br><image src="{% static "images/projects/schema_migration.png" %}">
            
            <br><br>Then <code>$ python manage.py migrate </code> to migrate your schema migrations to the database.
            </p>
            
            <p>Open a python shell with <code>$ python manage.py shell</code> and type the following 
            to practice adding, changing, etc your database. We will want a couple of sample projects saved in
            our database for when we display them later.
            <pre><code class='language-python'>
# import your project class from your models file
In [1]: from first_app.models import Project
# create an instance of the class called test_project_1
In [2]: test_project_1 = Project() 
# Add a value for the title attribute of your project instance
In [3]: test_project_1.title = "Test Project 1 Title"
# This .save() function saves your project in your database
# until you test_project_1.save(), it will only exist in shell
In [4]: test_project_1.save()
# Now add a description to your already existing project instance
In [5]: test_project_1.description = "some project description"
In [6]: test_project_1.image = "images/test_project_1_image.jpg"
In [7]: test_project_1.save()
# To see all of the objects and their attributes that are 
# saved in your database you can use .values()
In [8]: Project.objects.values()
# We will create another project but this time give it our attribute values in the
# constructor rather than adding it like we did above
In [9]: test_project_2 = Project(title="Test Project 2 Title", description="project2 description ...", image="images/test_project_2_image.png")
# Save it test_project_2 in the database
In [10]: test_project_2.save()
# Make sure both projects are in the database by typing
In [11]: Project.objects.all()
In [12]: exit
            </code></pre><br>
            Note: For more documentation on the models and the different ways of using shell,
            visit the <a href="https://docs.djangoproject.com/en/1.8/topics/db/models/"  target="_blank" style="target-new: tab;">Django Models Documentation.</a></li> 
          </p>
        </div>
      </div>
      <hr>
      
<!--Templating-->
      <div id="add_djan_2_temp" class="row">
      	<h2>Django Templating</h2>
        <div class="col-md-12">
          <p>Django allows us to write in our html files to make them dynamic. You can follow this example
          and decide for yourself what in your particular html template file you would like to make dynamic.
          If you see repeating blocks of code like the ones in the examples to follow that is a good opportunity 
          for making it dynamic.
          </p>
          
          <p>
              For example, if we wanted to print numbers 1-5 rather than doing it like this in raw html without Django:
          </p>
          
          <pre><code class=language-html>
&#60;html>
  &#60;body>
    &#60;ul>
      &#60;li>1&#60;/li>
      &#60;li>2&#60;/li>
      &#60;li>3&#60;/li>
      &#60;li>4&#60;/li>
      &#60;li>5&#60;/li>
    &#60;/ul>
  &#60;/body>
&#60;html>
          </code></pre>
          
          <p>Django allows us make html files dynamic via programming 
          structures like a for-loop in this case: </p>
          
          <pre><code class='language-html'>
&#60;html>
  &#60;body>
    &#60;ul>
      {&#37; for i in range(5): &#37;}
      &#60;li>i&#60;/li>
      {&#37; endfor &#37;}
    &#60;/ul>
  &#60;/body>
&#60;html>
          </code></pre>
        
          <p>Now we can use this same principle with Django's templating language to 
          display our projects. Currently in our html file we have blocks like the
          image below where each piece of code is repeated with new information in
          the tags.
          </p>
          
          <image src="{% static "images/projects/html_non_dynamic.png" %}"><br><br>

            <pre><code class='language-html'>
&#60;div class = "row">
    &#60;div class="col-md-4">
        &#60;div class="panel panel-default">
            &#60;div class="panel-heading">&#60;h3>Hello&#60;/h3>&#60;/div>
            &#60;div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
            condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi.
            Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            Aliquam in felis sit amet augue.
            &#60;/div>
        &#60;/div>
    &#60;/div>
    
    &#60;div class="col-md-4">
        &#60;div class="panel panel-default">
            &#60;div class="panel-heading">&#60;h3>Hello&#60;/h3>&#60;/div>
            &#60;div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
            condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi.
            Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            Aliquam in felis sit amet augue.
            &#60;/div>
        &#60;/div>
    &#60;/div>

    &#60;div class="col-md-4">
        &#60;div class="panel panel-default">
            &#60;div class="panel-heading">&#60;h3>Hello&#60;/h3>&#60;/div>
            &#60;div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
            condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi.
            Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            Aliquam in felis sit amet augue.
            &#60;/div>
        &#60;/div>
    &#60;/div>
&#60;/div>        
            </code></pre>
          
          <p>
              Instead, we can make it simpler and dynamic so that we get a block for each of the 
              projects in our database.
          </p>
          
        <pre><code class='language-html'>
&#60;div class="row">
  	  {&#37;for project in projects &#37;}
        &#60;div class="col-md-4">
          &#60;div class="panel panel-default">
            &#60;div class="panel-heading">&#60;h3>&#123;&#123;project.title}}&#60;/h3>&#60;/div>
            &#60;div class="panel-body">&#123;&#123;project.description}}
            &#60;/div>
          &#60;/div>
        &#60;/div>
      {&#37; endfor &#37;}
&#60;/div>        
        </code></pre>
          
          <p>
            You may be wondering how Django knows what "projects" is that we just typed above. 
            Well, it doesn't yet. We need to go into our view definition and tell it that when it see's "projects"
            in its html file that is equal to all of the project instances in the Project
            table in your database.
          </p>
          
            <pre><code class='language-python'>
# Filename: first_app/views.py
from django.shortcuts import render
from first_app.models import Project

def home_page(request):
    context = {'projects' : Project.objects.all() }
    return render(request, 'home.html', context)
          </code></pre>
          
          <p><small>Note: make sure you direct your urls.py file to the new 
          view in your app. Check back in the basic tutorial if you need help
          with doing this.</small></p>
          
          <p><small>Note: Django templating language is packed full with much more than
          for-loop and it is recomended that you explore the Django templating language
          documentation to see a comprehensive list of its capabilities.</small></p>
          
          <br>
          
        <p>Modify your urls file so it will see te <code>views.py</code> file in your app rather than
        the one in your main project app folder. Add this line: 
        <br><br><code>url(r'^home', 'first_app.views.home_page', name='home_page'),</code>
        </p>
        
        <p>
          At this point you should be all set with your projects from the database
          populating your html file and everything working smoothly. You should see
          something like this:
        </p>
        
        <image src="{% static "images/projects/final_intermediate.png" %}"><br><br>
          
          
        <p><small>Note: After you modify a .py file restart your server. When you edit html files
            you don't need to.
        </small></p>
        </div>
      </div>
      <hr>
      
<!--Setting up Admin Interface-->
      <div id="add_admin" class="row">
      	<h2>Setting up an Admin Interface</h2>
        <div class="col-md-12">
          <p>The admin interface allows us to more easily modify our database without having
          to enter shell. By default, the admin interface should be already configured. You
          will just need to type the username and password that you created when you created 
          your superuser for your database. If you left the username blank then it is 
          <strong>ubuntu</strong>.</p>
          
          <p>Simply type: <code>http://my_project-YourUserName.c9.io/admin</code> 
          in your browser. You should see something like this: </p>
          
          <image src="{% static "images/projects/admin_interface.png" %}">
            
          <p>Now you need to do a few things to make your projects app show up in 
          your admin interface. </p>
          
          <p>Add these lines to your <code>admin.py</code> file: </p>
          
          <pre><code>
# Filename: first_app/admin.py

from first_app.models import Project
from django.contrib import admin

admin.site.register(Project)
          </code></pre>
          
          <p>Go ahead and restart your server, reload your page and you should be able
          to add, edit and remove things in your database! You should see your project
          now in the admin interface: </p>
          
          <image src="{% static "images/projects/admin_interface_with_app.png" %}">
          
        </div>
      </div>
      <hr>