{% load staticfiles %}
{% block in_head %}
<!DOCTYPE html>

<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Ultraviolet</title>
		<meta name="author" content=" S&eacute;bastien Beno&icirc;t and McKinnley Workman">
		<meta name="description" content="">
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="{% static "css/styles.css" %}" rel="stylesheet">
	</head>
	<body>
{% endblock in_head %}	

	
{% block nav %}	  
<nav class="navbar navbar-static">
    <div class="container">
      <a class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </a>
      <div class="nav-collapse collase">
        <ul class="nav navbar-nav"> 
          <li><a href="{% url 'home_page' %}">All Tutorials</a></li>
          <!--<li><a href="#">Link</a></li>-->
          <!--<li><a href="#">Link</a></li>-->
        </ul>
        <ul class="nav navbar-right navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
            <ul class="dropdown-menu" style="padding:12px;">
                <form class="form-inline">
                   <div class="input-group">
                     <input type="text" class="form-control" placeholder="Search">
                     <div class="input-group-btn">
     			       <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                     </div>
                  </div>
                </form>
              </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="#">Login</a></li>
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="#">About</a></li>
             </ul>
          </li>  
        </ul>
      </div>		
    </div>
</nav><!-- /.navbar -->
{% endblock nav%}

{% block header%}
<header class="masthead">
  <div class="container">
    <div class="row">
      <div class="col col-sm-6">
        <h1><a href="#" title="scroll down for your viewing pleasure">BNW Template</a>
          <p class="lead">2-column Layout + Theme for Bootstrap 3</p></h1>
      </div>
      <div class="col col-sm-6">
        <div class="well pull-right">
          <img src="//placehold.it/280x100/E7E7E7">        
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
	<div class="row">
      <div class="col col-sm-12">
        
        <div class="panel">
        <div class="panel-body">
          You may want to put some news here  <span class="glyphicon glyphicon-heart-empty"></span>
        </div>
        </div>
        
      </div>
  	</div>
  </div>
</header>
{% endblock header%}

{% block in_body %}
<!-- Begin Body -->
<div class="container">
	<div class="row">
  			<div class="col col-sm-3">
              	{% block side_links %}
              	<div id="sidebar">
      			<ul class="nav nav-stacked">
                    <li><h3 class="highlight">Channels <i class="glyphicon glyphicon-dashboard pull-right"></i></h3></li>
				    </ul>
                <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                Network Intrusion Detection System (IDS)
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="accordion-inner">
                              <p>What is needed to setup an IDS using Snort.</p>
                              <ul>
                              <li><a href="{% url 'snort_page' %}">Network setup 101</a></li>
                              <li><a href="{% url 'snort_page' %}">apache setup</a></li>
                              <li><a href="{% url 'snort_page' %}">mySQL setup</a></li>
                              <li><a href="{% url 'snort_page' %}">Snort setup</a></li>
                              <li><a href="{% url 'snort_page' %}">Passenger setup</a></li>
                              <li><a href="{% url 'snort_page' %}">Snorby setup</a></li>
                              </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                    Accordion
                                </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                                <div class="accordion-inner">
                                  <p>Use @media queries or utility classes to customize responsiveness.</p>
                                  <ul>
                                    
                                  </ul>
                                </div>
                            </div>
                        </div>
               	</div>
               </div>
               {% endblock side_links %}
      		</div>  
      		{% block contents%}
      		<div class="col col-sm-9">
              <div class="panel">
              <h1>Comming Soon!!!</h1>
              
          <!--    <div class="row">-->
          <!--    	<div class="col col-sm-8">-->
          <!--        <img src="https://s.bootply.com/assets/example/bg_iphone.png" class="img-responsive">-->
          <!--      </div> -->
        		<!--<div class="col col-sm-4">-->
          <!--        <img src="//placehold.it/400x180/FF3333/FFF" class="img-responsive">-->
          <!--        <h4>Aside</h4>-->
          <!--        <hr>-->
          <!--        <img src="//placehold.it/400x180/FF3333/FFF" class="img-responsive">-->
          <!--        <h4>Aside 2</h4>-->
          <!--    	</div>   -->
          <!--    </div>-->
        
              	<h2>Content</h2>
                Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
              
              
              	<h2>Content</h2>
                Rrem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
              	<br><br>
                <!--<button class="btn btn-default">More</button>-->
                
                <hr>
              	
                <h2>Content</h2>
                <!--<img src="//placehold.it/150x100/EEEEEE" class="img-responsive pull-right">-->
                Farmhand ida quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
                eos qui ratione voluptatem sequi nesciunt. I met him on the Internet. He's a French model. Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
              	<br><br>
                <!--<button class="btn btn-default">More</button>-->
                
                <!--<hr>-->
                
                <!-- <div class="row">-->
                <!--  <div class="col col-sm-6">-->
                <!--    <img src="/assets/example/bg_smartphones.jpg" class="img-responsive">-->
                    
                <!--  </div> -->
                <!--  <div class="col col-sm-6">-->
                <!--    <h1>There is still a lot to be said about the Responsive Web.</h1>-->
                <!--  </div>   -->
                <!--</div>-->
                
                <hr>
              
              	<h2>Responsive Text</h2>
      			    Eeaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
                eos qui ratione voluptatem sequi nesciunt. Bootply is this awesomeness. Editor, prototype tool, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
              
                <hr>
                
              	<h2>Responsive Images</h2>
      			    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
              
                <hr>
                
              	<h2>Media Queries</h2>
      			    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
              
                <div class="container">
                	<div class="row">
                      <div class="col col-sm-8">
                        
                        <!--<div class="panel">-->
                        <div class="panel-body">
                          <h1><a href="#"><i class="glyphicon glyphicon-chevron-up pull-right"></i></a></h1>
                        </div>
                        <!--</div>-->
                        
                      </div>
                  </div>
                </div>
              	
              
              	<!--<hr>-->
              	<!--<h4><a href="https://bootply.com/">Bootply</a></h4>-->
              	<!--<hr>-->
             	</div>
      	</div> 
      	{% endblock contents %}
  	</div>
</div>
{% endblock in_body %}

{% block references %}
    <!-- For Code Syntax Highlighting-->
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/github.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="{% static "js/bootstrap.min.js" %}"></script>
		<script src="{% static "js/scripts.js" %}"></script>
	</body>
</html>
{% endblock references %}	