{% extends 'project_base.html'%}
{% load staticfiles %}
{% block header%}
<header class="masthead">
  <div class="container">
    <div class="row">
      <div class="col col-sm-6">
        <h1><a href="#" title="scroll down for your viewing pleasure">IDS setup Tutorial</a>
          <p class="lead">step-by-step description of how to setup an IDS using snort</p></h1>
      </div>
      <div class="col col-sm-6">
        <div class="well pull-right">
          <img src="{% static "images/projects/Snort_ids_logo.png" %}">        
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
	<div class="row">
      <div class="col col-sm-12">
        
        <div class="panel">
        <div class="panel-body">
          fly piggy fly!  <span class="glyphicon glyphicon-heart-empty"></span>
        </div>
        </div>
        
      </div>
  	</div>
  </div>
</header>
{% endblock header%}

